.DateCard__Card {
  border: 5px solid lightgray;
  background-color: white;
  border-radius: 20px;
  width: 375px;
  height: 525px;
  text-align: center;
  padding: 0px 20px;
  /* margin: 30px auto; */
}
